.encabezado{
    background-color: #F59943;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    color: white;
    margin-top: 1%;
}

.pull-left{
    text-align: left;
}

.cuerpo{
    background-color: #ebebeb;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}